
.git
.gitignore
*.md

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
*venv/
*.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

*.idea/
*.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db